<!--
  @description       : Progress Bar in LWC
  @author            : Hitesh Garg
  @last modified on  : 06-24-2021
  @last modified by  : Hitesh Garg
  Modifications Log 
  Ver   Date         Author        Modification
  1.0   06-24-2021   Hitesh Garg   Initial Version
-->
<template>
    <lightning-card title="Progress Bar" icon-name="utility:campaign"><br />
        <div class="slds-var-m-around_large">
            <lightning-progress-bar size="medium" value={progress} variant="circular"></lightning-progress-bar>
            <p class="slds-align_absolute-center">{processStatus}</p>
        </div>
    </lightning-card>
</template>